* {
    font-family: 'Crimson Pro', serif;
    cursor: pointer;
    font-size: 16em;
    background-color: #C7CDD2;
}

.container-fluid {
    position: relative;
    width: 100vw;
    height: 150px;
    background-color: #56616B;
    margin-top: 10px;
}

.wrap {
    background-color: #FFFFFF;
    height: 140px;
    position: relative;
    width: 100vw;
}



