* {
    font-family: 'Crimson Pro', serif;
    cursor: pointer;
    font-size: 16em;
}

.site-container {
    position: relative;
    width: 100vw;
    min-height: 500px;
    background-color: brown;
}

.header-container {
    position: relative;
    width: 100vw;
    height: 200px;
    background-color: #FFFFFF;
}

.site-header {
    position: relative;
    width:1200px;
    height: 200px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    margin: 0px auto;
}

.title-area {
    position: relative;
    flex: 2;
    height: 200px;
    background-color: #FFFFFF;
}

.title-contact {
    position: relative;
    flex: 1;
    height: 200px;
    background-color: #FFFFFF;
}

.avatar {
    width: 200px;
    height: 180px;
    padding: 5px;
    background-color: yellow;
    border-radius: 20px;
    margin-top: 10px;
}

/* .site-container {
    display: inline;
    width: 200px;
    height: 200px;
} */